data/**
data/leakage_1m/*
data/leakage_1m_negative/*
data/leakage_100k/*
data/leakage_100k_negative/*
data/leakage_from_*/*
data/ml100k/*
data/ml1m/*
data/ml10m/*
data/ml20m/*
data/ml25m/*
data/amazon_movies/*
data/netflix/*
**/**/__pycache__/
**/.ipynb_checkpoints
models/*

!data/ml100k/.gitkeep
!data/ml1m/.gitkeep
!data/ml10m/.gitkeep
!data/ml20m/.gitkeep
!data/ml25m/.gitkeep
!data/amazon_movies/.gitkeep
!data/netflix/.gitkeep
!models/.gitkeep

src/**/build/**
src/**/*.c
src/**/*.cpython*

**/**/*.out
.Rproj.user
*.Rproj
.Rhistory
